/* ============= */
/*   VARIABLES   */
/* ============= */

// COLOR
$blue: #1A79DB;
$light-blue: #A6DFF2;
$white: #fff;
$black: #000c1a;
$grey-body: #ececec;
$grey-shadow: #b3b3b3;
$error-msg: #FF414D;
$bkg-apply: rgba(66, 66, 66, .5);

// FONT
$ft-size-xSmall: 12px;
$ft-size-small: 14px;
$ft-size-text: 16px;
$ft-size-medium: 18px;

$ft-size-label: 24px;
$ft-size-input: 16px;
$ft-size-placeholder: 14px;
$ft-size-btn: 18px;

$ft-size-title1: 48px;
$ft-size-title2: 22px;
$ft-size-title3: 18px;
$ft-size-title4: 16px;
$ft-size-titleProfil: 28px;

// PADDING
$padding-btn: .75rem 1.5rem;

// BORDER
$border-block: 2px solid $blue;

// BORDER RADIUS
$radius-block: .5rem;

// BOX SHADOW 
$box-shadow-block: 0 5px 5px 0 $grey-shadow;